/*Google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Jaro:opsz@6..72&family=Signika+Negative:wght@300..700&display=swap');

/*General Rules*/
main{
    border: 2px solid;
    background-color:rgb(141, 215, 234);
}

h1, p, button, span, div{
    font-family: Signika Negative;
}

p, span, #playerDiv, #computerDiv{
    font-size: 150%;
    margin-top: 10px;
}

/*Header & Title*/
header{
    font-family: Anton;
    display: flex;
    justify-content: center;
    font-size: 40px;
    text-align: center;
}

#title{
    display: flex;
    justify-content: center;
}

/*Main page content*/

#welcome{
    text-align: center;
}

#rulesButton{
    height: 100px;
    width: 200px;
    font-size: 250%;
}

#modalBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 10px;
}

.rulesModal{
    display:none;
    width: 125%;
    height: 50%;
}

#modalContent{
    background-color: #ffffff;
    margin: 5% auto; 
    padding: 10px;
    border: 3px solid #050505;
    width: 50%;
    text-align: center;
}

.closeModal{
    color: #000000;
    float: right;
    font-size: 40px;
}

.gameButton{
    height: 40px;
    width: 50px;
    font-size: 90%;
}

#options{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#gameArea{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.inactive{
    display: none;
}

.active{
    display: block;
    height: 15rem;
    width: 15rem;
}

#playerSelects, #computerSelects, #playerDiv, #computerDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#scoreArea, #playerScore, #computerScore{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 15px;
}

/*Media query for tablets and larger devices*/
@media (min-width: 768px){
    #gameArea{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
}