/*Google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Jaro:opsz@6..72&family=Signika+Negative:wght@300..700&display=swap');


/*General Rules*/
main{
    border: 2px solid;
    background-color:darkgrey;
}

h1, p, button, span, div{
    font-family: Signika Negative;
}

/*Header & Title*/
header{
    font-family: Anton;
    display: flex;
    justify-content: center;
    font-size: 40px;
}

#title{
    display: flex;
    justify-content: center;
}

/*Main page content*/
#rules{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#rules>p, #rules>h2, h1{
    margin-top: 10px;
    margin-bottom: 10px;
}

#options{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#gameArea{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.inactive{
    display: none;
}

.active{
    display: block;
    height: 10rem;
    width: 10rem;
}

#playerSelects, #computerSelects{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#scoreArea, #playerScore, #computerScore{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 15px;
}

#playerDiv, #playerScore{
    color: rgb(11, 246, 86);
}

#computerDiv, #computerScore{
    color: rgb(244, 14, 7);
}

/*Media query for tablets and larger devices*/
@media (min-width: 768px){
    #gameArea{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
}